:root{
    --primary-color: #5F9EA0;
    --secundary-color: #FFF;
    --text-color-dark: #000;
    --text-color-light: #fff;
    --icon-color: #F3F3F3;
    animation: animation 2s ease alternate infinite;
    background: linear-gradient(-40deg, #00f5ff, white, #11aeee), no-repeat;
    background-size: 300% 300%;
} 

@keyframes animation {
   from{
        background-position: 0 50%;
   }
   to{
        background-position: 100 50%;
   }
}
